<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CarTree</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='styles.css') }}">
</head>


<div class="tree">
  <ul>
    <li>
      <a href="#">
        <form action="{{ url_for('criar') }}" method="post">
          <fieldset>
            <div class="form-group">
            <label for="ordem">Carregamento</label>
            <input type="submit">
            <textarea id="ordem" name="ordem" class="form-control" rows="1" cols="10">
            </textarea>
            </div>
          </fieldset>
        </form>
      </a>
      <ul>
        <li>
          <a href="#">
                <tbody>
                {% for ordem in nv_1 %}
                <tr>
                <td>{{ nv_1 }}</td>
                </tr>
                {% endfor %}
                </tbody>
          </a>
          <ul>
            <li>
              <a href="#">Grand Child</a>
            </li><li>
              <a href="#">Grand Child</a>
              <ul>
                <li>
                  <a href="#">Grand Child</a>
                </li><li>
                  <a href="#">Grand Child</a>
                </li>
              </ul>
            </li>
          </ul>
        </li><li>
          <a href="#">Child</a>
          <ul>
            <li>
              <a href="#">Grand Child</a>
              <ul>
                <li>
                  <a href="#">Grand Grand Child</a>
                </li>
              </ul>
            </li><li>
              <a href="#">Grand Child</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>